# -*- coding: utf-8 -*-
# $Id$
contest_id = 500108

contest_time = 0
score_system = kirov
board_fog_time = 0
board_unfog_time = 0
standings_locale = "ru"

compile_dir = "../../compile/var/compile"

team_enable_src_view
team_enable_rep_view
team_enable_ce_view
team_show_judge_report
report_error_code
ignore_compile_errors
prune_empty_users
problem_navigation
vertical_navigation


max_run_size = 32K
max_run_num = 256


stand_fancy_style
stand_use_login
stand_extra_format = "%UMp1s %UMp1f"

rounding_mode = floor
cr_serialization_key = 22723
show_astr_time
enable_runlog_merge
secure_run
detect_violations
enable_memory_limit_error
enable_l10n
team_download_time = 0
cpu_bogomips = 4800

[language]
id = 2
short_name = "gcc"
long_name = "GNU C 4.7.2"
src_sfx = ".c"

[language]
id = 23
compile_id = 3
short_name = "g++"
long_name = "GNU C++ 4.7.2"
src_sfx = ".cpp"

[language]
id = 28
short_name = "gcc-vg"
long_name = "GNU C (valgrind) 4.7.2"
arch = "valgrind"
src_sfx = ".c"
disabled

[language]
id = 29
short_name = "g++-vg"
long_name = "GNU C++ (valgrind) 4.7.2"
arch = "valgrind"
src_sfx = ".cpp"
disabled

[language]
id = 51
short_name = "clang"
long_name = "clang C 3.3"
arch = "linux-shared"
src_sfx = ".c"

[language]
id = 52
short_name = "clang++"
long_name = "clang C++ 3.3"
arch = "linux-shared"
src_sfx = ".cpp"

[problem]
abstract
short_name = "Generic"
use_stdin
use_stdout
test_dir = "%Ps"
test_sfx = ".dat"
use_corr
corr_dir = "%Ps"
corr_sfx = ".ans"
info_dir = "%Ps"
tgz_dir = "%Ps"
time_limit = 4
real_time_limit = 10
max_vm_size = 64M
max_stack_size = 64M
max_file_size = 128M
max_open_file_count = 20
max_process_count = 20
test_score = 2
check_cmd = "check_%Ps"
style_checker_cmd = "style_c"
style_checker_env = "EJ_DISABLE_TABS=0"
style_checker_env = "EJ_BASE_INDENT=1"
style_checker_env = "EJ_MAX_LINE_LENGTH=160"
start_env = "EJUDGE_VG_FLAGS=-q --track-origins=yes --malloc-fill=66 --free-fill=66 --error-exitcode=1 --leak-check=full"
enable_text_form

statement_file = "%Ps.html"

[problem]
id = 1
super = "Generic"
short_name = "arguments"
long_name = ""
use_info
full_score = 25
standard_checker = "cmp_file"

[problem]
id = 8
super = "Generic"
short_name = "D"
long_name = "Делители треугольного числа"
input_file = "input.txt"
output_file = "output.txt"
max_open_file_count = 10
max_process_count = 64
full_score = 40
run_penalty = 0
open_tests = "1:full"
standard_checker = "cmp_int"
test_sets = "1=0"

[problem]
id = 11
super = "Generic"
short_name = "filecopy"
long_name = ""
use_stdin = 0
input_file = "input.dat"
use_stdout = 0
output_file = "output.dat"
binary_input
corr_sfx = ".dat"
full_score = 30
standard_checker = "cmp_bytes"

[problem]
id = 12
super = "Generic"
short_name = "solaris"
long_name = "Станция \"Солярис\""
use_stdin = 0
input_file = "solaris.dat"
use_stdout = 0
output_file = "solaris.ans"
binary_input
max_vm_size = 64M
full_score = 70
test_score_list = "2 2 8 8 8 "
open_tests = "1-2:full"
standard_checker = "cmp_bytes"

[problem]
id = 13
super = "Generic"
short_name = "cp"
long_name = ""
use_stdin = 0
input_file = "in.src"
use_stdout = 0
output_file = "out.dst"
binary_input
corr_sfx = ".dat"
use_info
full_score = 100
standard_checker = "cmp_bytes"

[tester]
name = Generic
arch = ""
abstract
no_core_dump
enable_memory_limit_error
kill_signal = KILL
memory_limit_type = "default"
secure_exec_type = "static"
clear_env
start_env = "PATH=/usr/local/bin:/usr/bin:/bin"
start_env = "HOME"
check_dir = "work-disk/work"

[tester]
name = Linux-shared
arch = "linux-shared"
abstract
no_core_dump
enable_memory_limit_error
kill_signal = KILL
memory_limit_type = "default"
secure_exec_type = "dll"
clear_env
start_env = "PATH=/usr/local/bin:/usr/bin:/bin"
start_env = "HOME"
check_dir = "work-disk/work"

[tester]
name = Valgrind
arch = "valgrind"
abstract
no_core_dump
kill_signal = TERM
memory_limit_type = "valgrind"
secure_exec_type = "valgrind"
start_cmd = "runvg"
clear_env
start_env = "PATH=/usr/local/bin:/usr/bin:/bin"
start_env = "LANG=C"
start_env = "HOME"
check_dir = "work-disk/work"

[tester]
any
super = Generic

[tester]
any
super = Linux-shared
arch = linux-shared

[tester]
any
super = Valgrind
arch = valgrind

# audit: created 2015/10/21 09:52:24 1 (ejudge) 213.87.144.134
