# -*- coding: utf-8 -*-
# $Id$

contest_time = 0
score_system = kirov
board_fog_time = 0
board_unfog_time = 0
standings_locale = "Russian"

compile_dir = "../../compile/var/compile"

team_enable_src_view
team_enable_rep_view
team_enable_ce_view
report_error_code
ignore_compile_errors
problem_navigation
vertical_navigation


max_run_size = 32K
max_run_num = 512


stand_fancy_style
stand_extra_format = "%UMp1s %UMp1f %U0 %U1"

rounding_mode = floor
cr_serialization_key = 22723
show_astr_time
enable_runlog_merge
secure_run
detect_violations
enable_memory_limit_error
uuid_run_store
enable_max_stack_size
enable_l10n
team_download_time = 0
cpu_bogomips = 4800

[language]
id = 28
short_name = "gcc-vg"
long_name = "GNU C (valgrind) 4.8.3"
arch = "valgrind"
src_sfx = ".c"

[problem]
abstract
short_name = "Generic"
use_stdin
use_stdout
xml_file = "%Ps.xml"
test_dir = "%Ps"
test_sfx = ".dat"
use_corr
corr_dir = "%Ps"
corr_sfx = ".ans"
info_dir = "%Ps"
tgz_dir = "%Ps"
time_limit = 1
real_time_limit = 10
max_vm_size = 20480G
max_stack_size = 64M
max_file_size = 128M
max_open_file_count = 32
max_process_count = 32
test_score = 2
check_cmd = "check_%Ps"
lang_compiler_env = "gcc=EJUDGE_FLAGS=-Wall -Werror=format -Werror=return-type -Werror=vla -Werror=uninitialized -Werror=maybe-uninitialized -Werror-implicit-function-declaration  -O3"
lang_compiler_env = "g++=EJUDGE_FLAGS=-Wall -Werror=format -Werror=return-type -Werror=vla -Werror=uninitialized -Werror=maybe-uninitialized -O2"
lang_compiler_env = "gcc-vg=EJUDGE_FLAGS=-Wall -Werror=format -Werror=return-type -Werror=vla -Werror=uninitialized -Werror=maybe-uninitialized -Werror-implicit-function-declaration -g -O1 -D ONLINE_JUDGE -lm"
lang_compiler_env = "g++-vg=EJUDGE_FLAGS=-Wall -Werror=format -Werror=return-type -Werror=vla -Werror=uninitialized -Werror=maybe-uninitialized -g -O1"
lang_compiler_env = "clang=EJUDGE_FLAGS=-Wall -Werror=format -Werror=return-type -Werror=vla -Werror=uninitialized -Werror-implicit-function-declaration -fsanitize=address -fno-omit-frame-pointer -g -O2"
lang_compiler_env = "clang++=EJUDGE_FLAGS=-Wall -Werror=format -Werror=return-type -Werror=vla -Werror=uninitialized -fsanitize=address -fno-omit-frame-pointer -g -O2"
lang_compiler_env = "gcc-vg=EJUDGE_ASAN_FLAGS=-Wall -Werror=format -Werror=return-type -Werror=vla -Werror=uninitialized -Werror=maybe-uninitialized -Werror-implicit-function-declaration -fsanitize=address -fno-omit-frame-pointer -g -O3"
lang_compiler_env = "g++-vg=EJUDGE_ASAN_FLAGS=-Wall -Werror=format -Werror=return-type -Werror=vla -Werror=uninitialized -Werror=maybe-uninitialized -fsanitize=address -fno-omit-frame-pointer -g -O2"
start_env = "EJUDGE_VG_FLAGS=-q --track-origins=yes --malloc-fill=66 --free-fill=66 --error-exitcode=1 --leak-check=full"
enable_text_form

[problem]
abstract
short_name = "Generic_HTML"
use_stdin
use_stdout
test_dir = "%Ps"
test_sfx = ".dat"
corr_dir = "%Ps"
corr_sfx = ".ans"
info_dir = "%Ps"
tgz_dir = "%Ps"
time_limit = 1
real_time_limit = 10
max_vm_size = 20480G
max_stack_size = 64M
max_file_size = 128M
max_open_file_count = 32
max_process_count = 32
test_score = 2
check_cmd = "check_%Ps"
lang_compiler_env = "gcc=EJUDGE_FLAGS=-Wall -Werror=format -Werror=return-type -Werror=vla -Werror=uninitialized -Werror=maybe-uninitialized -Werror-implicit-function-declaration  -O3"
lang_compiler_env = "g++=EJUDGE_FLAGS=-Wall -Werror=format -Werror=return-type -Werror=vla -Werror=uninitialized -Werror=maybe-uninitialized -O2"
lang_compiler_env = "gcc-vg=EJUDGE_FLAGS=-Wall -Werror=format -Werror=return-type -Werror=vla -Werror=uninitialized -Werror=maybe-uninitialized -Werror-implicit-function-declaration -g -O1"
lang_compiler_env = "g++-vg=EJUDGE_FLAGS=-Wall -Werror=format -Werror=return-type -Werror=vla -Werror=uninitialized -Werror=maybe-uninitialized -g -O1"
lang_compiler_env = "clang=EJUDGE_FLAGS=-Wall -Werror=format -Werror=return-type -Werror=vla -Werror=uninitialized -Werror-implicit-function-declaration -fsanitize=address -fno-omit-frame-pointer -g -O2"
lang_compiler_env = "clang++=EJUDGE_FLAGS=-Wall -Werror=format -Werror=return-type -Werror=vla -Werror=uninitialized -fsanitize=address -fno-omit-frame-pointer -g -O2"
lang_compiler_env = "gcc-vg=EJUDGE_ASAN_FLAGS=-Wall -Werror=format -Werror=return-type -Werror=vla -Werror=uninitialized -Werror=maybe-uninitialized -Werror-implicit-function-declaration -fsanitize=address -fno-omit-frame-pointer -g -O3"
lang_compiler_env = "g++-vg=EJUDGE_ASAN_FLAGS=-Wall -Werror=format -Werror=return-type -Werror=vla -Werror=uninitialized -Werror=maybe-uninitialized -fsanitize=address -fno-omit-frame-pointer -g -O2"
start_env = "EJUDGE_VG_FLAGS=-q --track-origins=yes --malloc-fill=66 --free-fill=66 --error-exitcode=1 --leak-check=full"
enable_text_form

statement_file = "%Ps.html"

[problem]
abstract
short_name = "Generic_footer"
use_stdin
use_stdout
xml_file = "%Ps.xml"
test_dir = "%Ps"
test_sfx = ".dat"
use_corr
corr_dir = "%Ps"
corr_sfx = ".ans"
info_dir = "%Ps"
tgz_dir = "%Ps"
time_limit = 1
real_time_limit = 10
max_vm_size = 20480G
max_stack_size = 64M
max_file_size = 128M
max_open_file_count = 32
max_process_count = 32
test_score = 2
check_cmd = "check_%Ps"
lang_compiler_env = "gcc=EJUDGE_FLAGS=-Wall -Werror=format -Werror=return-type -Werror=vla -Werror=uninitialized -Werror=maybe-uninitialized -Werror-implicit-function-declaration  -O3"
lang_compiler_env = "g++=EJUDGE_FLAGS=-Wall -Werror=format -Werror=return-type -Werror=vla -Werror=uninitialized -Werror=maybe-uninitialized -O2"
lang_compiler_env = "gcc-vg=EJUDGE_FLAGS=-Wall -Werror=format -Werror=return-type -Werror=vla -Werror=uninitialized -Werror=maybe-uninitialized -Werror-implicit-function-declaration -g -O1"
lang_compiler_env = "g++-vg=EJUDGE_FLAGS=-Wall -Werror=format -Werror=return-type -Werror=vla -Werror=uninitialized -Werror=maybe-uninitialized -g -O1"
lang_compiler_env = "clang=EJUDGE_FLAGS=-Wall -Werror=format -Werror=return-type -Werror=vla -Werror=uninitialized -Werror-implicit-function-declaration -fsanitize=address -fno-omit-frame-pointer -g -O2"
lang_compiler_env = "clang++=EJUDGE_FLAGS=-Wall -Werror=format -Werror=return-type -Werror=vla -Werror=uninitialized -fsanitize=address -fno-omit-frame-pointer -g -O2"
lang_compiler_env = "gcc-vg=EJUDGE_ASAN_FLAGS=-Wall -Werror=format -Werror=return-type -Werror=vla -Werror=uninitialized -Werror=maybe-uninitialized -Werror-implicit-function-declaration -fsanitize=address -fno-omit-frame-pointer -g -O3"
lang_compiler_env = "g++-vg=EJUDGE_ASAN_FLAGS=-Wall -Werror=format -Werror=return-type -Werror=vla -Werror=uninitialized -Werror=maybe-uninitialized -fsanitize=address -fno-omit-frame-pointer -g -O2"
start_env = "EJUDGE_VG_FLAGS=-q --track-origins=yes --malloc-fill=66 --free-fill=66 --error-exitcode=1 --leak-check=full"
enable_text_form
source_header = "%Ps_begin.c"

[problem]
abstract
short_name = "Generic_A"
type = "select-one"
xml_file = "%Ps.xml"
test_dir = "%Ps"
test_sfx = ".dat"
full_score = 1
run_penalty = 0
disqualified_penalty = 1
advance_to_next

[problem]
abstract
short_name = "Generic_B"
type = "short-answer"
use_stdin
use_stdout
xml_file = "%Ps.xml"
test_dir = "%Ps"
test_sfx = ".dat"
use_corr
corr_dir = "%Ps"
corr_sfx = ".ans"
time_limit = 1
real_time_limit = 1
full_score = 1
run_penalty = 0
disqualified_penalty = 1
check_cmd = "check_B"

[problem]
abstract
short_name = "Generic_D"
use_stdin
use_stdout
xml_file = "%Ps.xml"
test_dir = "%Ps"
test_sfx = ".dat"
use_corr
corr_dir = "%Ps"
corr_sfx = ".ans"
info_dir = "%Ps"
tgz_dir = "%Ps"
time_limit = 4
real_time_limit = 10
max_vm_size = 64M
max_stack_size = 64M
max_file_size = 64M
max_open_file_count = 32
max_process_count = 8
full_score = 4
check_cmd = "check_%Ps"
start_env = "EJUDGE_VG_FLAGS=-q --track-origins=yes --malloc-fill=66 --free-fill=66 --error-exitcode=1 --leak-check=full"
enable_text_form

[problem]
id = 1
super = "Generic_HTML"
short_name = "argc"
long_name = "Сколько аргументов?"
use_info
max_open_file_count = 32
max_process_count = 64
full_score = 20
standard_checker = "cmp_file"

[problem]
id = 2
super = "Generic_HTML"
short_name = "argv"
long_name = "Сумма аргументов?"
use_info
max_open_file_count = 32
max_process_count = 64
full_score = 30
standard_checker = "cmp_file"

[problem]
id = 3
super = "Generic_HTML"
short_name = "envp"
long_name = "Параметры окружения"
use_info
max_open_file_count = 32
max_process_count = 64
full_score = 40
standard_checker = "cmp_file"

[problem]
id = 4
super = "Generic_HTML"
short_name = "divisors"
long_name = "Делители треугольного числа"
use_stdin = 0
input_file = "input.txt"
combined_stdin = 0
use_stdout = 0
output_file = "output.txt"
combined_stdout = 0
time_limit = 2
max_open_file_count = 32
max_process_count = 64
full_score = 60
run_penalty = 0
open_tests = "1:full"
standard_checker = "cmp_int"
test_sets = "1=0"

[problem]
id = 5
super = "Generic_HTML"
short_name = "stat"
long_name = "Размер файла"
input_file = "input.txt"
output_file = "output.txt"
use_info
time_limit = 1
max_open_file_count = 32
max_process_count = 64
full_score = 50
run_penalty = 0
open_tests = "1:full"
standard_checker = "cmp_file"
test_sets = "1=0"

[problem]
id = 6
super = "Generic_HTML"
short_name = "cp"
long_name = ""
use_stdin = 0
input_file = "in.src"
use_stdout = 0
output_file = "out.dst"
binary_input
corr_sfx = ".dat"
use_info
time_limit = 1
max_open_file_count = 32
max_process_count = 64
full_score = 70
standard_checker = "cmp_bytes"

[tester]
name = Valgrind
arch = "valgrind"
abstract
no_core_dump
kill_signal = TERM
memory_limit_type = "valgrind"
secure_exec_type = "valgrind"
start_cmd = "runvg"
clear_env
start_env = "PATH=/usr/local/bin:/usr/bin:/bin"
start_env = "LANG=C"
start_env = "HOME"
check_dir = "work-disk/work"

[tester]
any
super = Valgrind
arch = valgrind

# audit: created 2016/10/29 16:22:20 1 (ejudge) 10.55.160.149
# audit: edited 2016/10/31 09:05:59 1 (ejudge) 93.175.29.93
