# -*- coding: utf-8 -*-
# $Id$

contest_time = 190
score_system = kirov
board_fog_time = 0
board_unfog_time = 0
standings_locale = "Russian"

compile_dir = "../../compile/var/compile"

team_enable_src_view
team_enable_rep_view
team_enable_ce_view
disable_submit_after_ok
problem_navigation


compile_max_vm_size = 512M
compile_max_file_size = 32M


stand_fancy_style
stand_extra_format = "%UMp1s %UMp1f"

cr_serialization_key = 22723
secure_run
detect_violations
advanced_layout
enable_max_stack_size
enable_l10n
team_download_time = 0

[language]
id = 23
short_name = "python3"
long_name = "Python 3.3.2"
arch = "linux-shared"
src_sfx = ".py"

[problem]
abstract
short_name = "Generic"
use_stdin
use_stdout
xml_file = "statement.xml"
test_dir = "%Ps"
test_pat = "%03d"
use_corr
corr_dir = "%Ps"
corr_sfx = ".ans"
corr_pat = "%03d.ans"
time_limit = 1
real_time_limit = 5
max_vm_size = 64M
max_stack_size = 64M
max_file_size = 64M
max_open_file_count = 32
max_process_count = 32
check_cmd = "check"
disable_user_submit = 0
disable_submit_after_ok
disable_security = 0
enable_text_form
normalization = "nl"

[problem]
abstract
short_name = "Generictr"
use_stdin
use_stdout
xml_file = "%Ps.xml"
test_dir = "%Ps"
test_sfx = ".dat"
use_corr
corr_dir = "%Ps"
corr_sfx = ".ans"
info_dir = "%Ps"
tgz_dir = "%Ps"
time_limit = 1
real_time_limit = 10
max_vm_size = 20480G
max_stack_size = 64M
max_file_size = 128M
max_open_file_count = 32
max_process_count = 32
test_score = 2
check_cmd = "check_%Ps"
enable_text_form

[problem]
abstract
short_name = "Generic_HTML"
use_stdin
use_stdout
test_dir = "%Ps"
test_sfx = ".dat"
use_corr
corr_dir = "%Ps"
corr_sfx = ".ans"
info_dir = "%Ps"
tgz_dir = "%Ps"
time_limit = 1
real_time_limit = 10
max_vm_size = 20480G
max_stack_size = 64M
max_file_size = 128M
max_open_file_count = 32
max_process_count = 32
test_score = 2
check_cmd = "check_%Ps"

statement_file = "%Ps.html"

[problem]
id = 1
super = "Generic_HTML"
short_name = "common"
long_name = "Наибольшая общая подпоследовательность"
max_open_file_count = 64
max_process_count = 128
full_score = 160
score_bonus = "10 9 8 7 6 5 4 3 2 1"
open_tests = "1:full"
standard_checker = "cmp_file"
style_checker_cmd = "formatter"

[problem]
id = 2
super = "Generic_HTML"
short_name = "brackets"
long_name = "[к()б()чки"
max_open_file_count = 64
max_process_count = 128
full_score = 140
score_bonus = "10 9 8 7 6 5 4 3 2 1"
open_tests = "1:full"
standard_checker = "cmp_yesno"
style_checker_cmd = "formatter"

[problem]
id = 3
super = "Generic_HTML"
short_name = "athletes"
long_name = "Максимальная пирамида"
type = "standard"
use_corr
time_limit = 4
standard_checker = "cmp_file"

[problem]
id = 4
super = "Generic_HTML"
short_name = "invertor"
long_name = "Слова наоборот"
max_open_file_count = 64
max_process_count = 128
full_score = 100
score_bonus = "10 9 8 7 6 5 4 3 2 1"
open_tests = "1:full"
standard_checker = "cmp_file"
style_checker_cmd = "formatter"

[problem]
id = 5
super = "Generic_HTML"
short_name = "graph_4"
long_name = "Сварливые соседи"
type = "standard"
max_vm_size = 128M
max_stack_size = 128M
max_file_size = 128M
full_score = 40
score_bonus = "10 9 8 7 6 5 4 3 2 1"
open_tests = "1-2:full,5:fullifmarked"
standard_checker = "cmp_file"

[problem]
id = 6
super = "Generic_HTML"
short_name = "love"
long_name = "Любовные многоугольники"
full_score = 60
test_score = 3
score_bonus = "20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1"
open_tests = "1-4:full"
standard_checker = "cmp_int"

[problem]
id = 7
super = "Generictr"
short_name = "triangle"
long_name = "Спуск по треугольнику"
max_open_file_count = 32
max_process_count = 64
full_score = 100
test_score = 1
run_penalty = 1
score_bonus = "10 9 8 7 6 5 4 3 2 1"
open_tests = "1:full"
standard_checker = "cmp_long_long_seq"

[problem]
id = 8
super = "Generic_HTML"
short_name = "list_3"
long_name = "пьяница"
score_bonus = "10 9 8 7 6 5 4 3 2 1"
open_tests = "1:full"
standard_checker = "cmp_file"

[problem]
id = 9
super = "Generic_HTML"
short_name = "tree_2"
long_name = "sort numbers"
open_tests = "1-3:full"
standard_checker = "cmp_file"

[problem]
id = 10
super = "Generic_HTML"
short_name = "tree"
long_name = "Случайный спуск по дереву"
max_open_file_count = 64
max_process_count = 128
full_score = 120
score_bonus = "10 9 8 7 6 5 4 3 2 1"
open_tests = "1:full"
standard_checker = "cmp_double"
checker_env = "EPS=0.01"
style_checker_cmd = "formatter"

[tester]
name = Linux-shared
arch = "linux-shared"
abstract
no_core_dump
enable_memory_limit_error
kill_signal = KILL
memory_limit_type = "default"
secure_exec_type = "dll"
clear_env
start_env = "PATH=/usr/local/bin:/usr/bin:/bin"
start_env = "HOME"
check_dir = "work-disk/work"

[tester]
any
super = Linux-shared
arch = linux-shared

# audit: created 2016/12/05 05:02:15 1 (ejudge) 93.175.16.13
# audit: edited 2016/12/05 05:09:23 1 (ejudge) 93.175.16.13
# audit: edited 2016/12/05 18:38:11 1 (ejudge) 93.175.16.48
# audit: edited 2016/12/05 23:33:35 1 (ejudge) 93.175.16.48
# audit: edited 2016/12/05 23:37:04 1 (ejudge) 93.175.16.48
# audit: edited 2016/12/05 23:46:12 1 (ejudge) 93.175.16.48
# audit: edited 2016/12/06 00:00:25 1 (ejudge) 93.175.16.48
# audit: edited 2016/12/06 00:12:01 1 (ejudge) 93.175.16.48
# audit: edited 2016/12/06 00:54:01 1 (ejudge) 93.175.16.48
# audit: edited 2016/12/06 01:03:27 1 (ejudge) 93.175.16.48
